<section id="product" class="section">
  <div class="section__video-container">
    <video class="section__video-container--video" playsInline autoplay loop>
      <source src="assets/videos/curcuit-abstraction.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="section__product-wrapper">
    <h2 class="section__product-wrapper--title">ManagePro</h2>
    <h3 class="section__product-wrapper--subtitle">
      - Effortless Management at Your Fingertips -
    </h3>
  </div>

  <div class="section__cards">
    <div class="cards__description">
      <h4>Flexible Dashboard</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        dignissimos iure porro quis laborum, atque numquam ut dolorem tempore
        delectus earum voluptatem assumenda voluptatibus reiciendis consectetur
        officiis rem est! Veniam.
      </p>
    </div>
    <div class="cards__line"></div>
    <div
      class="card"
      #cardElement
      [@slideInOut]="animationStates[0] ? animationStates[0] : 'right'"
    >
      <img
        class="card__screen"
        src="assets/images/dashboard.png"
        alt="ManagePro screenshot"
      />
    </div>
  </div>
  <div class="icon-wrapper">
    <div class="icon-box">
      <img class="icon-box__image" src="assets/icons/code.svg" alt="" />
      <span class="icon-box__blur"></span>
    </div>
  </div>

  <div class="section__cards">
    <div
      class="card"
      #cardElement
      [@slideInOut]="animationStates[1] ? animationStates[1] : 'left'"
    >
      <img
        class="card__screen"
        src="assets/images/dashboard.png"
        alt="ManagePro screenshot"
      />
    </div>
    <div class="cards__line"></div>
    <div class="cards__description">
      <h4>Flexible Dashboard</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        dignissimos iure porro quis laborum, atque numquam ut dolorem tempore
        delectus earum voluptatem assumenda voluptatibus reiciendis consectetur
        officiis rem est! Veniam.
      </p>
    </div>
  </div>
  <div class="icon-wrapper">
    <div class="icon-box">
      <img
        class="icon-box__image"
        src="assets/icons/manage-dashboard.svg"
        alt=""
      />
      <span class="icon-box__blur"></span>
    </div>
  </div>
  <div class="section__cards">
    <div class="cards__description">
      <h4>Flexible Dashboard</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        dignissimos iure porro quis laborum, atque numquam ut dolorem tempore
        delectus earum voluptatem assumenda voluptatibus reiciendis consectetur
        officiis rem est! Veniam. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Reprehenderit laudantium, harum dicta ipsam
        praesentium maxime cupiditate nostrum numquam dolor tempore, est nam
      </p>
    </div>
    <div class="cards__line"></div>
    <div
      class="card"
      #cardElement
      [@slideInOut]="animationStates[2] ? animationStates[2] : 'right'"
    >
      <img
        class="card__screen"
        src="assets/images/dashboard.png"
        alt="ManagePro screenshot"
      />
    </div>
  </div>
</section>
