<section id="contact" class="section">
  <div class="section__header">
    <h2 class="section__title">Contact</h2>
    <h3 class="section__subtitle">- Get in Touch with Us Today -</h3>
  </div>
  <div class="wrapper">
    <aside class="aside">
      <h2 class="aside__title">Contact Us</h2>
      <div class="aside__info">
        <img class="aside__icon" src="assets/icons/phone.svg" alt="Phone" />+1 (234) 567-890
      </div>
      <div class="aside__info">
        <img class="aside__icon" src="assets/icons/email.svg" alt="Email" />
        manageai@gmail.com
      </div>
      <div class="aside__info">
        <img class="aside__icon" src="assets/icons/linkedin-small.svg" alt="Linkedin logo" /><a
          class="aside__link"
          href="https://www.linkedin.com/feed/"
          >https://www.linkedin.com/feed/</a
        >
      </div>
      <div class="aside__info">
        <img class="aside__icon" src="assets/icons/github-small.svg" alt="Github logo" /><a
          class="aside__link"
          href="https://github.com/"
          >https://github.com/</a
        >
      </div>
    </aside>
    <div class="contact">
      <div class="contact__empty"></div>
      <form class="contact__form" action="">
        <input class="contact__input" type="text" placeholder="Your name" />
        <input class="contact__input" type="text" placeholder="Your email" />
        <textarea
          class="contact__textarea"
          cols="30"
          rows="10"
          placeholder="Typing your message here..."
        ></textarea>
        <button class="contact__button">Send</button>
      </form>
    </div>
  </div>
</section>
