<section class="section">
  <div class="section__product-wrapper">
    <h2 class="section__product-wrapper--title">Contact</h2>
    <h3 class="section__product-wrapper--subtitle">
      - Get in Touch with Us Today -
    </h3>
  </div>

  <div class="wrapper">
    <div class="xd">
      <div class="aside">
        <h2 class="aside--title">Contact Us</h2>
        <div class="aside--hehe">
          <img src="assets/icons/phone.svg" alt="Phone" />+1 (234) 567-890
        </div>
        <div class="aside--hehe">
          <img src="assets/icons/email.svg" alt="Email" /> managepro@gmail.com
        </div>
        <div class="aside--hehe">
          <img src="assets/icons/linkedin-small.svg" alt="" /><a
            href="https://www.linkedin.com/feed/"
            >https://www.linkedin.com/feed/</a
          >
        </div>
        <div class="aside--hehe">
          <img src="assets/icons/github-small.svg" alt="Github logo" /><a
            href="https://github.com/"
            >https://github.com/</a
          >
        </div>
      </div>
    </div>
    <div class="contact">
      <form class="form" action="">
        <input type="text" placeholder="Your name" />
        <input type="text" placeholder="Your email" />
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Typing your message here..."
        ></textarea>
        <button>Send</button>
      </form>
    </div>
  </div>
</section>
