<nav class="nav">
  <h1 class="nav__title">ManageAI</h1>
  <div class="nav__links">
    <div class="link active">
      <div class="icon">
        <img class="icon" src="assets/icons/dashboard.svg" alt="" />
      </div>
      <div class="text">
        <p>Dashboard</p>
      </div>
    </div>
    <div class="link">
      <div class="icon">
        <img class="icon" src="assets/icons/statistics.svg" alt="" />
      </div>
      <div class="text">
        <p>Statistics</p>
      </div>
    </div>
  </div>
</nav>
