<nav class="nav">
  <h1 class="nav__title">ManageAI</h1>
  <div class="nav__links">
    <ng-container *ngFor="let link of navbarLinks">
      <div
        class="nav__link"
        [ngClass]="{ 'nav__link--active': link.name === selectedLink }"
        (click)="selectLink(link.name)"
      >
        <div class="nav__icon-container">
          <svg-icon class="nav__icon" [src]="link.iconSrc" />
        </div>
        <div class="nav__text">
          <p>{{ link.name | translate | titlecase }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</nav>
