<header class="header">
  <h1 class="header__headline">Dashboard</h1>
  <div class="header__search">
    <input type="text" />
  </div>
  <!-- MOCK VALUES -->
  <div class="header__profile">
    <img class="profile__img" src="assets/icons/english-language.svg" alt="language" />
    <img class="profile__img" src="assets/icons/dark-mode.svg" alt="dark-mode" />
    <img class="profile__img" src="assets/icons/notifications.svg" alt="notifications" />
    <div class="profile__photo">
      <img class="person" src="assets/icons/person.svg" alt="" />
    </div>
    <p class="profile__username">Rajesh Singh</p>
  </div>
</header>
