<ng-container *ngFor="let state of taskStates">
  <div class="column">
    <h2 class="column__title" [style]="{ color: state.color }">
      {{ state.taskStateName }} ({{ state.tasks.length }})
    </h2>
    <div
      [id]="state.taskStateName"
      class="u-height-100"
      cdkDropList
      [cdkDropListData]="state.tasks"
      [cdkDropListConnectedTo]="state.connectedTo"
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container *ngFor="let task of state.tasks">
        <app-task class="column__task-container" [task]="task" cdkDrag></app-task>
      </ng-container>
    </div>
  </div>
</ng-container>
