@import '../../../../../shared/assets/scss/styles.scss';

.nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 10;
  padding: 15px;
  background-color: $color-primary;
  color: $color-secondary;

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: $color-secondary;
    cursor: pointer;
  }

  &__logo-img {
    margin-right: 5px;
  }

  &__list {
    display: flex;
    list-style: none;
    align-items: center;
  }

  &__item {
    padding: 5px 25px;
    cursor: pointer;
  }

  &__link {
    text-decoration: none;
    color: $color-secondary;

    &--login {
      @include button;
      padding: 5px 15px;
    }
  }
}
