<nav class="nav">
  <a (click)="onLinkClick('home')" class="nav__logo">
    <img
      class="nav__logo-img"
      src="shared/assets/icons/logo-25.svg"
      alt="ManagePro logo"
    />
    ManagePro
  </a>
  <ul class="nav__list">
    <li class="nav__item" *ngFor="let link of links">
      <a
        class="nav__link"
        [ngClass]="{ 'nav__link--active': isSelect === link }"
        (click)="onLinkClick(link)"
        >{{ link | capitalizeFirstLetter }}</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__link nav__link--login" href="">Sign In</a>
    </li>
  </ul>
</nav>
