<nav class="nav">
  <a class="nav__logo">
    <img
      class="nav__logo-img"
      src="shared/assets/icons/logo-25.svg"
      alt="ManagePro logo"
    />
    ManagePro
  </a>
  <ul class="nav__list">
    <li class="nav__item"><a class="nav__link" href="">Home</a></li>
    <li class="nav__item"><a class="nav__link" href="">About Us</a></li>
    <li class="nav__item"><a class="nav__link" href="">Product</a></li>
    <li class="nav__item"><a class="nav__link" href="">Contact</a></li>
    <li class="nav__item">
      <a class="nav__link nav__link--login" href="">Sign In</a>
    </li>
  </ul>
</nav>
