<div class="wrapper">
  <div class="advert-container">
    <div class="animation">
      <p
        [@textAnimation]="state"
        class="animation__title"
        [innerHTML]="currentText"
      ></p>
      <span class="animation__ball"></span>
    </div>
    <video class="advert-container__video" playsInline autoplay loop>
      <source src="assets/videos/team.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="auth-container">
    <div class="login-box">
      <h1 class="login-box__title">Login to</h1>
      <span class="login-box__subtitle">ManagePro</span>
      <form [formGroup]="loginForm" class="login-box__form">
        <input
          class="form__input"
          type="login"
          formControlName="login"
          placeholder="Ex. pat@example.com"
        />
        <input
          class="form__input"
          formControlName="password"
          placeholder="Password"
          type="password"
        />
      </form>
      <button type="submit" class="login-box__submit-btn" (click)="signIn()">
        Sign in
      </button>
      <div class="login-box__or-info">OR</div>
    </div>

    <div class="social-logins-box">
      <div class="social-logins-box__login">
        <img src="assets\icons\google-auth.svg" alt="Google Logo" />
        <p>Continue with Google</p>
      </div>
      <div class="social-logins-box__login">
        <img src="assets\icons\facebook-auth.svg" alt="Facebook Logo" />
        <p>Continue with Facebook</p>
      </div>
      <div class="social-logins-box__login">
        <img src="assets\icons\twitterx-auth.svg" alt="Twitter Logo" />
        <p>Continue with TwitterX</p>
      </div>
    </div>
  </div>
</div>
<div class="shadow"></div>
