<div class="wrapper">
  <div class="video-wrapper">
    <video class="" playsInline autoplay loop>
      <source src="assets/videos/team.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="login">
    <div class="login-box">
      <h1 class="login-box__title">Login to</h1>
      <span class="login-box__subtitle">- ManagePro -</span>
      <form [formGroup]="loginForm" class="form">
        <input
          class="form__input"
          type="login"
          formControlName="login"
          placeholder="Ex. pat@example.com"
        />
        <input
          class="form__input"
          formControlName="password"
          placeholder="Password"
          type="password"
        />
      </form>
      <div class="example-button-row">
        <button type="submit" class="button" (click)="signIn()">Sign in</button>
      </div>
    </div>
  </div>
</div>
<div class="shadow"></div>
