@import '../../../../shared/assets/scss/styles.scss';

.wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  min-height: 100vh;
  overflow: hidden;
}

.policy-info {
  position: absolute;
  bottom: 0;
  padding: 0 10px 10px;

  a,
  span {
    color: $color-aside;
    font-size: 0.7rem;
  }

  span {
    padding: 0 10px;
  }
}

.advert-container {
  display: flex;
  justify-content: left;
  align-items: center;

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.animation {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 4rem;
  width: 100%;
  color: $color-secondary;

  &__text {
    display: block;
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: none;

    @include typed(
      'Manage on the highest level',
      'Plan Better. Execute Faster.',
      "Unlock Your Team's Potential",
      (
        type: 0.04,
        pause-typed: 4,
        delete: 0.04,
      ),
      (
        caret-color: $color-tertiary,
      )
    );
  }
}

.auth-container {
  display: flex;
  flex-direction: column;
}

.manual-login {
  position: relative;

  &__or-info {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -4.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 55px;
    border-radius: 50px;
    background: linear-gradient(to right, $color-primary, $color-tertiary);
    color: white;
    z-index: 1;
  }
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
  padding: 40px 75px;

  &__title {
    font-size: 3.5rem;
  }

  &__subtitle {
    font-size: 4rem;
    color: $color-tertiary;
    margin-bottom: 35px;
    font-weight: 600;
    white-space: nowrap;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__submit-btn {
    @include button;
    margin: 15px 0;
    padding: 10px 50px;
    font-size: 1.3rem;
  }
}

.form {
  &__input {
    margin: 5px;
    width: 85%;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
  }
}

.social-logins {
  width: 100%;
  height: 100%;
}

.social-logins-box {
  &__login {
    display: flex;
    align-items: center;
    margin: 20px 0;
    height: 55px;
    border-radius: 30px;
    border: 1px solid #333;
    cursor: pointer;
  }

  &__login:last-child {
    margin: 0;
  }

  p {
    padding: 10px 20px;
  }

  img {
    padding: 10px;
  }
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.register {
  margin-top: 20px;

  &__text {
    font-size: 0.9rem;
  }

  &__link {
    color: $color-tertiary;
    font-size: 0.9rem;
  }
}

@include for-larger-desktop-or-smaller {
  .wrapper {
    grid-template-columns: 50% 50%;
  }

  .shadow {
    width: 50%;
  }
  .advert-container__video {
    width: 50%;
  }

  .login-box {
    padding: 40px 0;
  }
}

@include for-tablet-or-smaller {
  .wrapper {
    grid-template-columns: none;
  }

  .shadow {
    display: none;
  }

  .advert-container {
    display: none;
  }

  .policy-info {
    display: flex;
    align-items: center;
    position: static;
  }

  .social-logins {
    padding: 30px;
  }
}

@include for-small-phone-or-smaller {
  .login-box {
    padding: 30px 0 55px;
  }

  .login-box__title {
    font-size: 3rem;
  }

  .login-box__subtitle {
    font-size: 3rem;
  }

  .social-logins-box p {
    padding: 10px;
  }
}
