@use '../../../../../../../../../shared/assets/scss/styles.scss' as *;

.container {
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
}

ui-filter {
  margin-right: 10px;
}

svg-icon {
  cursor: pointer;
}
