<div class="container">
  <div class="filters">
    <div class="select-tags">
      <div class="input-select">
        <p>Filter by tags</p>
      </div>
      <div class="select-arrow">
        <img src="assets/icons/arrow-select.svg" alt="" />
      </div>
    </div>
    <div class="select-users">
      <div class="input-select">
        <p>Filter by users</p>
      </div>
      <div class="select-arrow">
        <img src="assets/icons/arrow-select.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="button">
    <button>
      <svg-icon class="img" src="assets/icons/add-icon.svg" alt="" srcset="" />
      <p>Add new task</p>
    </button>
  </div>
</div>
