<div class="wrapper">
  <div class="advert-container">
    <div class="animation">
      <span class="animation__text"></span>
    </div>
    <video class="advert-container__video" playsInline autoplay loop>
      <source src="assets/videos/team.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="auth-container">
    <div class="manual-login" [ngStyle]="isLoginPath ? { 'border-bottom': '1px solid black' } : {}">
      <app-login class="login-box" *ngIf="isLoginPath" (signIn)="signIn($event)" />
      <app-signup class="login-box" *ngIf="!isLoginPath" (signUp)="signUp($event)" />

      <div *ngIf="isLoginPath" class="manual-login__or-info">OR</div>
    </div>

    <div *ngIf="isLoginPath" class="social-logins u-center">
      <div class="social-logins-box">
        <div class="social-logins-box__login">
          <img src="assets\icons\google-auth.svg" alt="Google Logo" />
          <p>Continue with Google</p>
        </div>
        <div class="social-logins-box__login">
          <img src="assets\icons\facebook-auth.svg" alt="Facebook Logo" />
          <p>Continue with Facebook</p>
        </div>
        <div class="social-logins-box__login">
          <img src="assets\icons\twitterx-auth.svg" alt="Twitter Logo" />
          <p>Continue with TwitterX</p>
        </div>
      </div>
    </div>
  </div>
  <div class="policy-info">
    <a href="#">Privacy Policy</a><span>|</span><a href="#">Terms of Use</a>
  </div>
</div>
<div class="shadow"></div>
