// MARGIN BOTTOM

.u-margin-bottom-05 {
  margin-bottom: 5px;
}

.u-margin-bottom-1 {
  margin-bottom: 10px;
}

.u-margin-bottom-2 {
  margin-bottom: 20px;
}

.u-margin-bottom-3 {
  margin-bottom: 30px;
}

.u-margin-bottom-4 {
  margin-bottom: 40px;
}

// MARGIN TOP

.u-margin-top-05 {
  margin-top: 5px;
}

.u-margin-top-1 {
  margin-top: 10px;
}

.u-margin-top-2 {
  margin-top: 20px;
}

.u-margin-top-3 {
  margin-top: 30px;
}

.u-margin-top-4 {
  margin-top: 40px;
}

// MARGIN LEFT

.u-margin-left-05 {
  margin-left: 5px;
}

.u-margin-left-1 {
  margin-left: 10px;
}

.u-margin-left-2 {
  margin-left: 20px;
}

// MARGIN RIGHT

.u-margin-right-05 {
  margin-right: 5px;
}

.u-margin-right-1 {
  margin-right: 10px;
}

.u-margin-right-2 {
  margin-right: 20px;
}

// PADDING

.u-padding-1 {
  padding: 10px;
}

.u-padding-2 {
  padding: 20px;
}

// FLEX ALIGN ITEMS

.u-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-align-center {
  display: flex;
  align-items: center;
}

.u-align-bottom {
  display: flex;
  align-items: flex-end;
}

// FLEX JUSTIFY ITEMS

.u-space-between {
  display: flex;
  justify-content: space-between;
}

.u-justify-center {
  display: flex;
  justify-content: center;
}

.u-justify-right {
  display: flex;
  justify-content: flex-end;
}

// FLEX DIRECTION

.u-flex-column {
  flex-direction: column;
}
