$large-desktop: 1200px;
$desktop: 992px;
$tablet: 768px;

@mixin large-desktop {
  @media (min-width: calc($large-desktop + 1px)) {
    @content;
  }
}

@mixin desktop-and-down {
  @media (max-width: $large-desktop) {
    @content;
  }
}

@mixin tablet-and-down {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin phone-and-down {
  @media (max-width: $tablet) {
    @content;
  }
}
