@use './variables';

@mixin button {
  border: 1px solid $color-tertiary;
  border-radius: 50px;
  background-color: $color-tertiary;
  color: $color-primary;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $color-primary;
    color: $color-tertiary;
  }
}
