:root {
  font-size: 15px;
}

$body-font-size: 1rem;
$a-font-size: 1.13333rem;

body {
  font-family: 'Poppins', sans-serif;
  font-size: $body-font-size;
}

a {
  font-size: $a-font-size;
  font-weight: 500;
}
