$color-primary: #ffffff;
$color-secondary: #000000;
$color-tertiary: #006d38;

$color-primary-dark: #131313;
$color-secondary-dark: #dde5da;
$color-tertiary-dark: #4ce086;

$color-aside: #d6cece;

$background-color-content: #eeeeee;
$background-color-content-dark: #1f1f1f;

$color-text-shadow: #00000099;
$color-subtitle: #333333;

$color-box-shadow: #0000004d;

$form-element-bg-color: #0000000a;
