$color-primary: #ffffff;
$color-secondary: #000000;
$color-tertiary: #006D38;

$color-aside: #d6cece;

$color-text-shadow: #00000099;
$color-subtitle: #333333;

$color-box-shadow: #0000004d;

$form-element-bg-color: #0000000a;
