<main class="main">
  <div class="cards">
    <h2>About Us</h2>
    <h3>- Embracing Passion for Innovation -</h3>
    <div class="cards-container">
      <div class="card">
        <div class="card__image">
          <img src="assets/images/people.jpg" alt="" />
        </div>
        <div class="card__details">
          <h3 class="card__details--title">Design</h3>
          <p class="card__details--text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
            accusantium ipsa dolorum in mollitia hic tempora
          </p>
          <button class="card__details--btn">Read More</button>
        </div>
      </div>
      <div class="card">
        <div class="card__image">
          <img src="assets/images/manage.jpg" alt="" />
        </div>
        <div class="card__details">
          <h3 class="card__details--title">Modern Quality</h3>
          <p class="card__details--text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
            accusantium ipsa dolorum in mollitia hic tempora
          </p>
          <button class="card__details--btn">Read More</button>
        </div>
      </div>
      <div class="card">
        <div class="card__image">
          <img src="assets/images/code.jpg" alt="" />
        </div>
        <div class="card__details">
          <h3 class="card__details--title">Open Source</h3>
          <p class="card__details--text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
            accusantium ipsa dolorum in mollitia hic tempora
          </p>
          <button class="card__details--btn">Read More</button>
        </div>
      </div>
    </div>
  </div>
</main>
