<header class="header">
  <div class="header__content">
    <h1 class="header__title">ManagePRO</h1>
    <p class="header__subtitle">The Future of Project Management</p>
    <button class="header__button">Learn More</button>
    <p class="header__description">
      Streamlining your projects from inception to completion with intuitive
      tools and actionable insights.
    </p>
    <div class="header__find">
      <p>Find Us:</p>
      <div class="header__link-wrapper">
        <a class="header__link header__link--github" href=""
          ><img class="header__icon" src="assets/icons/github.svg" alt=""
        /></a>
        <a class="header__link header__link--gplus" href=""
          ><img class="header__icon" src="assets/icons/gplus.svg" alt=""
        /></a>
        <a class="header__link header__link--linkedin" href=""
          ><img class="header__icon" src="assets/icons/linkedin.svg" alt=""
        /></a>
      </div>
    </div>
  </div>
  <div class="header__image">
    <img
      class="header__image-img"
      src="shared/assets/images/abstract-header.png"
      alt=""
    />
  </div>
</header>
